*{
    margin: 0;
    border: 0;
    list-style: none; 
} 
.phone{
    width: 1226px;
    height:auto;
    margin:0 auto;
}
.top{
    width: auto;
    height: 58px;
    line-height:58px;
}
.phone .top .right{
    float: right;
}
.phone .top .right:hover{
    color: #ff670f;    
}
.bottom{
    width:100%;
    height:614px;
    background-color:#f5f5f5
}
.phone .bottom .s1{
    width: 234px;
    height: 614px;
    float: left;
    margin-right: 14px;
}
.phone .bottom .s{
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    float: left;
    margin-right: 14px; 
}
.phone .bottom .s2{
    margin-right: 0;
}
.phone .bottom .s3{ 
    margin-bottom: 14px;
} 

.bottom .s img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.phone .bottom .s p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: #333333
}
.phone .bottom .s .box1{
    font-size: 12px;
    margin-top: 4px;
    color: #b0b0b0
}
.phone .bottom .s .box2{
    font-size: 14px;
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box3{
    color: #333333
}
.phone .bottom .s .box4{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 4px;
}
.phone .bottom .s .box5{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box7{
    color: #b0b0b0;
    margin-top: 4px;
    font-size: 12px;
}
.phone .bottom .s .box8{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box10{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 4px;
}
.phone .bottom .s .box11{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box13{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 4px;
}
.phone .bottom .s .box14{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box14 s{
    color: #b0b0b0
}
.phone .bottom .s .box16{
    color: #b0b0b0;
    margin-top: 4px;
    font-size: 12px;
}
.phone .bottom .s .box17{
    color: #ff670f;
    margin-top: 10px; 
}
.phone .bottom .s .box17 s{
    color: #b0b0b0;
}
.phone .bottom .s .box19{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 4px;
}
.phone .bottom .s .box20{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box22{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 4px;
}
.phone .bottom .s .box23{
    color: #ff670f;
    margin-top: 10px;
}
.phone .bottom .s .box23 s{
    color: #b0b0b0
}
.phone .img1{
    margin-top: 40px;
}
               /* 手机 */

                /* 头部 */
.header{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.header .con{
    width: 1226px;
    height: 100%;
    background-color: #333333;
    margin: 0 auto;
}
.header .mone{
    width: 677px;
    height: 40px;
    background-color:#333333;
    float: left;
}
.header .mone span{
    color: #424242;
}
.header .login{
    width: auto;
    height: 40px;
    background-color: #333333;
    float: right;
}
.header .shopping{
    width: 120px;
    height: 40px;
    background-color: #424242;
    float: right;
}
.header .mone a{
    font-size: 12px;
    color: #b0b0b0;
    line-height: 40px;
    text-decoration: aliceblue
}
.header .mone a{
    display:inline-block;
    width: auto;
    height: 40px;
}
.header .mone a:hover{
 color: aliceblue
}
.header .login a{
    font-size:12px;
    color:#b0b0b0;
    line-height: 40px;
    text-decoration: aliceblue;
    margin-right: 10px; 
    text-align: center;
}
.header .login a{
    display: inline-block;
    width: auto;
    height: 40px;
}
.header .login span{
    color: #424242
}
.header .login a:hover{
    color: aliceblue
}
.header .shopping a{
    font-size: 12px;
    line-height: 40px;
    margin-left: 40px;
    color: #b0b0b0;
    text-decoration: aliceblue;
}
.header .shopping a:hover{
    color: aliceblue
}
.header .shopping a{
    display: inline-block;
    width: auto;
    height: 40px;
}
.two{
    width: 1226px;
    height: 57.78px;
    background-color: #f5f5f5;
    margin-top:20px;
}
.box24{
    float: left;
    margin-top: 15px;
    display: block;
    font-size: 22px;
}
.box25{
    height: 26px;
    float:right;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 30px;
}
.box25:hover{
    color: #ff670f;
    border-bottom: 2px solid #ff670f;
}
.three{
    width: auto;
    height: 614px;
    background-color:#f5f5f5
}
.three .box26{
    width: 234px;
    height: 300px;
    background-color:white;
    float: left;
}
.three .box27{
    margin-right: 14px;
    margin-bottom:  14px;
}
.three .box28{
    margin-right: 0;
}
.three .box29{
    margin-right: 14px;
}
.box30{
    width: 234px;
    height: 143px;
    background-color: white;
    float: left;
}
.box31{
    margin-bottom: 14px;
}
.img2{
    width: 234px;
    height: 300px;
}
.img3{
    width: 234px;
    height: 300px;
}
.img4{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
}
.box32{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box33{
    color: #ff670f;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.img5{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px; 
}
.box34{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333 
}
.box35{
    font-size: 12px;
    text-align: center;
    color: #333333 
}
.box36{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 15px;
}
.box36 s{
    color: #b0b0b0
}
.img6{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px; 
}
.box37{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box38{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 30px;
}
.img7{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px; 
}
.box39{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box40{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 30px;
}
.img8{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
}
.box41{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box42{
    font-size: 12px;
    text-align: center;
    color: #333333 ;
}
.box43{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 15px;
}
.img9{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
}
.box44{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box45{
    font-size: 12px;
    text-align: center;
    color: #333333 ;
}
.box46{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 15px;
}
.img10{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
}
.box47{
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
    color: #333333
}
.box48{
    font-size: 12px;
    text-align: center;
    color: #333333 ;
}
.box49{
    font-size: 14px;
    color:#ff6700;
    text-align: center;
    margin-top: 15px;
}
.img11{
    width: 80px;
    height: 80px;
    float: right;

}
 

